<div class="flex" [ngClass]="{ 'hidden': !item }">
  <div class="w-2/3">
    <div class="mr-16">
      <div class="flex mb-5">
        <div class="flex-1 overflow-hidden">
          <owl-carousel #owlElementCategories
            [options]="{ items: 5, dots: false, navigation: false, margin: 10 }"
            [items]="featured_items"
            [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="flex flex-col items-center justify-center w-full cursor-pointer rounded" *ngFor="let category of [1,2,3,4,5,6,7,8]">
                <img src="https://picsum.photos/240/240?random=5">
              </div>
          </owl-carousel>
        </div>
      </div>
      <div (click)="back()" class="text-2xl">{{ item?.name }}</div>
      <div class="flex text-xs text-gray-600">
        <span class="border-grey">Posted {{ item?.createdAt.toDate() | timeAgo }}</span>
        <span class="border-grey border-l ml-2 pl-2">{{ item?.userInfo.location }}</span>
        <span class="border-grey border-l ml-2 pl-2 uppercase">{{ item?.condition }}</span>
      </div>
      <div class="my-5 text-primary text-xl">{{ item?.price | currency:'Php ' }}</div>
      <div class="leading-normal">{{ item?.description }}</div>
    </div>
  </div>
  <div class="w-1/3">
    <div class="flex flex-col">
      <div class="mb-3">
        <button mat-stroked-button color="primary" class="uppercase w-full">Chat</button>
      </div>
      <div class="mb-8">
        <button mat-raised-button color="primary" class="uppercase w-full">Make an Offer</button>
      </div>
    </div>
    <div class="flex items-center mb-8">
      <img class="w-10 h-10 rounded-full mr-4" src="https://www.gravatar.com/avatar/05a51e07235f65d5acc0dcefa97af727">
      <div class="text-sm leading-tight">
        <div routerLink="['/', item?.userInfo.displayName]" class="flex items-center">
          <span class="mr-1">{{ item?.userInfo.displayName }}</span>
          <mat-icon *ngIf="item?.userInfo.verified" inline class="text-primary">check_circle</mat-icon>
        </div>
        <p class="text-gray-600 text-xs">{{ item?.userInfo.location }}</p>
      </div>
    </div>
    <div class="flex flex-col text-sm leading-normal">
      <div class="font-bold">User Rating</div>
      <div class="mb-3"><span class="text-green">95%</span>&nbsp;<span class="text-xs">(1589 reviews)</span></div>
      <div class="font-bold">Response Rate</div>
      <div class="mb-3"><span class="text-orange">74%</span>&nbsp;<span class="text-xs">1 hour response time</span></div>
      <div class="font-bold">Member Since</div>
      <div class="mb-3 text-xs">31 May 2005</div>
    </div>
  </div>
</div>

<div class="mb-5 mt-16 pt-8 border-t">
  <div class="flex mb-5">
    <div class="text-xl text-gray-600 font-bold">Related Items</div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-1/4" *ngFor="let item of relatedItems">
      <app-item [item]="item"></app-item>
    </div>
  </div>
</div>