<div [routerLink]="['/item/', item.id]" class="flex flex-col mx-2 mb-5 cursor-pointer outline-none">
  <div class="relative h-32 bg-cover bg-center" [ngStyle]="{'background-image': 'url('+ item.imagePath +')'}"></div>
  <div class="flex flex-col">
    <div class="truncate-2nd text-sm my-2">{{ item.name }}</div>
    <div class="truncate-2nd text-primary mb-2">{{ item.price | currency:'Php ' }}</div>
    <div *ngIf="user" class="flex items-center text-xs text-gray-800">
      <span class="mr-1 font-bold">{{ item.userInfo.displayName }}</span>
      <mat-icon *ngIf="item.userInfo.verified" inline class="text-primary">check_circle</mat-icon>
    </div>
    <div *ngIf="user" class="flex flex-col text-gray-600 text-xs">
      <span>{{ item.userInfo.location }}</span>
      <span>{{ item.createdAt.toDate() | timeAgo }}</span>
    </div>
  </div>
</div>