<div class="absolute flex inset-0">
  <div class="login-left bg-primary p-5">
    <h2 class="font-bold text-3xl text-white">Helllo!</h2>
    <p class="leading-none text-sm text-white">Login to your account</p>
  </div>
  <div class="flex-1 p-5">
    <div *ngIf="loginError" class="bg-red-100 border-t border-b border-red-500 text-red-700 mb-4 px-4 py-3" role="alert">
      <p class="text-sm">{{ loginError.message }}</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput autofocus>
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full no-spacing-field">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput>
      </mat-form-field>
      <div class="text-right mb-8">
        <a href="#" class="text-primary text-xs">Forgot your password?</a>
      </div>
      <button [disabled]="processing" mat-flat-button color="primary" class="w-full">
        <span *ngIf="!processing; else showSpinner">Login</span>
        <ng-template #showSpinner>
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </ng-template>
      </button>
    </form>
  </div>
</div>