<div class="flex items-center justify-center">
  <form class="search-field flex flex-1">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Search</mat-label>
      <input matInput placeholder="e.g. rgb computer">
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml-3">
      <mat-label>Ad Type</mat-label>
      <mat-select value="selling">
        <mat-option value="selling">Selling</mat-option>
        <mat-option value="buying">Buying</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="mb-5">
  <div class="flex mb-5">
    <div class="text-xl text-gray-600 font-bold">1,742 items found</div>
  </div>
  <div class="flex flex-wrap">
    <div routerLink="/item/1" class="w-1/4 outline-none" *ngFor="let item of featured_items">
      <div class="flex flex-col mx-2 mb-5 cursor-pointer">
        <div class="relative h-32 bg-cover bg-center" [ngStyle]="{'background-image': 'url('+ item.image_url +')'}"></div>
        <div class="flex flex-col">
          <div class="truncate-2nd text-sm my-2">{{ item.item_name }}</div>
          <div class="truncate-2nd text-primary mb-2">{{ item.item_price | currency:'Php ' }}</div>
          <div class="flex items-center text-xs text-gray-600">
            <span class="mr-1">username2019</span>
            <mat-icon inline class="text-primary">check_circle</mat-icon>
          </div>
          <div class="flex items-center text-xs text-gray-600">
            <span>Metro Manila</span>
            <span class="mx-1">•</span>
            <span>2 days ago</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <button class="bg-primary text-white font-bold py-2 px-4 rounded">
    Load more
  </button>
</div>