<div id="header">
  <div class="flex items-center px-8 py-3 border-b">
    <mat-icon class="mr-3 text-gray-600">location_on</mat-icon>
    <div routerLink="/" class="text-3xl text-primary cursor-pointer outline-none">mn<strong>list</strong></div>
    <div class="flex-grow"></div>
    <div *ngIf="afAuth.user | async as user; else showLoginTemplate" class="flex">
      <button routerLink="/messages" mat-button color="primary">Messages</button>
      <button routerLink="/my-items" mat-button color="primary">My Items</button>
      <button [routerLink]="user.displayName" mat-button color="primary">My Profile</button>
      <img [matMenuTriggerFor]="appMenu" [src]="user.photoURL" class="w-8 h-8 ml-1 rounded-full cursor-pointer">
      <mat-menu #appMenu="matMenu" xPosition="before">
        <button mat-menu-item>Account Settings</button>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
    <ng-template #showLoginTemplate>
      <button (click)="showLogin()" class="text-primary hover:opacity-50 font-bold py-2 px-4 rounded">
        Login
      </button>
      <button routerLink="/register" matRipple class="bg-primary font-bold text-white py-2 px-4 rounded">Register</button>
    </ng-template>
  </div>
</div>