<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="flex-1 relative">
    <mat-sidenav-container fullscreen>
      <mat-sidenav #sidenav
          [fixedInViewport]="mobileQuery.matches"
          [mode]="mobileQuery.matches ? 'over' : 'side'"
          [opened]="!mobileQuery.matches"
          class="sidenav">
        <div class="px-8 pt-10">
          <h3 class="text-gray-600 uppercase">Browse Items</h3>
        </div>
        <mat-nav-list>
          <mat-list-item class="active">
            <mat-icon mat-list-icon class="text-primary">search</mat-icon>
            <div class="ml-5 text-gray-600">
              <a href="#">Search</a>
            </div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon class="text-primary">new_releases</mat-icon>
            <div class="ml-5 text-gray-600">
              <a href="#">New Items</a>
            </div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon class="text-primary">trending_up</mat-icon>
            <div class="ml-5 text-gray-600">
              <a href="#">Top Items</a>
            </div>
          </mat-list-item>
        </mat-nav-list>
        <div class="px-8 pt-10">
          <h3 class="text-gray-600 mb-5 uppercase">Information</h3>
          <ul class="sidenav-info-links">
            <li><a href="#" class="active">About Us</a></li>
            <li><a href="#">Rules and Guidelines</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="main-content mx-auto p-10">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>