<h2 class="text-3xl mb-1">Register</h2>
<p class="text-gray-600 text-xs">Please make sure you enter your email address correctly, we will be sending email confirmation.</p>
<div class="max-w-sm my-5">
  <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Display Name</mat-label>
      <input formControlName="displayName" type="text" placeholder="e.g. awesomename123" matInput autofocus>
      <mat-error *ngIf="registerForm.get('displayName').hasError('required')">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" placeholder="awesome@email.com" matInput>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">This field is required.</mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('email')">Invalid email format.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput>
      <mat-error *ngIf="registerForm.get('password').hasError('required')">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <div class="flex flex-col">
      <mat-checkbox class="text-xs mb-3" color="primary">I agree to the <a href="#" class="text-primary">Terms and Conditions</a> and <a href="#" class="text-primary">Privacy Policy.</a></mat-checkbox>
      <button type="submit" [disabled]="processing" mat-flat-button color="primary">Create Account</button>
    </div>
  </form>
</div>