<div class="flex flex-col items-center" *ngIf="!isLoaded">
  <mat-spinner diameter="32"></mat-spinner>
</div>

<div *ngIf="isLoaded">
  <div class="flex" *ngIf="userInfo; else userNotFound">
    <div class="w-1/3">
      <div class="border rounded p-5">
        <div class="border-b flex flex-col items-center pb-5 mb-5">
          <img [src]="userInfo.photoURL" class="rounded-full w-32 h-32">
          <div class="flex flex-col items-center leading-tight text-sm mt-5">
            <div class="flex items-center">
              <span class="mr-1">{{ userInfo.displayName }}</span>
              <mat-icon inline class="text-primary">check_circle</mat-icon>
            </div>
            <p class="text-gray-600 text-xs">Carmona, Cavite</p>
          </div>
        </div>
        <div class="flex flex-col text-sm leading-normal">
          <div class="font-bold">User Rating</div>
          <div class="mb-3 text-xs"><span class="text-green">95%</span>&nbsp;<span class="text-xs">(1589 reviews)</span></div>
          <div class="font-bold">Last Login</div>
          <div class="mb-3 text-xs">{{ userInfo.lastSignInTime.toDate() | timeAgo }}</div>
          <div class="font-bold">Member Since</div>
          <div class="mb-3 text-xs">{{ userInfo.creationTime.toDate() | date:'LLL yyyy' }}</div>
        </div>
      </div>
    </div>
    <div class="flex-1 ml-5">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Selling">
          <div class="flex flex-wrap py-5">
            <div class="w-1/3" *ngFor="let item of featured_items">
              <div class="flex flex-col mx-2 mb-5 cursor-pointer">
                <div class="relative h-32 bg-cover bg-center" [ngStyle]="{'background-image': 'url('+ item.image_url +')'}"></div>
                <div class="flex flex-col">
                  <div class="truncate-2nd text-sm my-2">{{ item.item_name }}</div>
                  <div class="truncate-2nd text-primary mb-2">{{ item.item_price | currency:'Php ' }}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Buying">
          <div class="flex flex-wrap py-5">
            <!-- <div class="w-1/3" *ngFor="let item of featured_items | async">
              <app-item [item]="item"></app-item>
            </div> -->
          </div>
        </mat-tab>
        <mat-tab label="Reviews">
          <div class="flex flex-col p-5">
            <app-review></app-review>
            <div class="text-center">
              <button mat-flat-button color="primary">
                <mat-icon inline>add</mat-icon>
                <span>See more</span>
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  
  <ng-template #userNotFound>
    user not found
  </ng-template>
</div>