<div class="flex items-center justify-center">
  <form class="search-field flex flex-1">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Search</mat-label>
      <input matInput placeholder="e.g. rgb computer">
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml-3">
      <mat-label>Ad Type</mat-label>
      <mat-select value="selling">
        <mat-option value="selling">Selling</mat-option>
        <mat-option value="buying">Buying</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<!-- <div class="mb-5">
  <div class="flex justify-between mb-5">
    <div class="text-xl text-gray-600 font-bold">Featured Items</div>
    <div>
      <a href="#" class="text-xs uppercase text-primary">See More</a>
    </div>
  </div>
  <owl-carousel #owlElement
    [options]="{ items: 4, dots: false, navigation: false, margin: 10, loop: true, center: true }"
    [items]="featured_items"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="flex flex-col w-full cursor-pointer" *ngFor="let item of [1,2,3,4,5,6,7,8]">
        <div class="relative h-32 bg-cover bg-center" [ngStyle]="{'background-image': 'url(https://picsum.photos/240/120?random=1)'}"></div>
        <div class="flex flex-col">
          <div class="truncate-2nd text-sm my-2">Item Name</div>
          <div class="truncate-2nd text-primary mb-2">{{ 999 | currency:'Php ' }}</div>
          <div class="flex items-center text-xs text-gray-600">
            <span class="mr-1">username2019</span>
            <mat-icon inline class="text-primary">check_circle</mat-icon>
          </div>
          <div class="flex items-center text-xs text-gray-600">
            <span>Metro Manila</span>
            <span class="mx-1">•</span>
            <span>2 days ago</span>
          </div>
        </div>
      </div>
  </owl-carousel>
</div> -->

<div class="mb-5">
  <div class="flex mb-5">
    <div class="text-xl text-gray-600 font-bold">Browse by categories</div>
  </div>
  <div class="flex">
    <div (click)="owlPrev()" class="flex items-center justify-center text-primary cursor-pointer noselect mr-3">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div class="flex-1 overflow-hidden">
      <owl-carousel #owlElementCategories
        [options]="{ items: 8, dots: false, navigation: false, margin: 10, loop: true, center: true }"
        [items]="featured_items"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="flex flex-col items-center justify-center w-full cursor-pointer bg-white py-3 rounded" *ngFor="let category of categories">
            <div class="flex w-12">
              <img [src]="category.icon">
            </div>
          </div>
      </owl-carousel>
    </div>
    <div (click)="owlNext()" class="flex items-center justify-center text-primary cursor-pointer noselect ml-3">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="flex mb-5">
    <div class="text-xl text-gray-600 font-bold">New Items For Sale</div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 lg:w-1/4 2xl:w-1/6" *ngFor="let item of new_items">
      <app-item [item]="item"></app-item>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <button class="bg-primary text-white font-bold py-2 px-4 rounded">
    See more
  </button>
</div>