@tailwind base;

@tailwind components;

@tailwind utilities;

button:focus {
    @apply outline-none
}

.sidenav-info-links a {
    @apply text-sm py-1 block font-medium text-gray-600
}

.sidenav-info-links a:hover {
    @apply text-gray-800
}

.sidenav-info-links a.active {
    @apply text-primary
}

.owl-item, .owl-stage {
    @apply flex items-stretch
}

.truncate-2nd {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}